[submodule "bitcore-stack"]
	path = bitcore-stack
	url = https://github.com/martindale/bitcore-stack.git
[submodule "why-maki"]
	path = why-maki
	url = https://github.com/martindale/why-maki.git
[submodule "beyond-bitcoin"]
	path = beyond-bitcoin
	url = https://github.com/martindale/beyond-bitcoin.git
[submodule "copay-wallet"]
	path = copay-wallet
	url = https://github.com/martindale/copay-wallet.git
[submodule "events/2016-11-01-triangle-bitcoin-meetup"]
	path = events/2016-11-01-triangle-bitcoin-meetup
  url = https://github.com/martindale/elements-project.git
  branch = triangle-bitcoin-meetup
[submodule "elements-project"]
	path = elements-project
	url = https://github.com/martindale/elements-project
